* {
  margin: 0;
  padding: 0;
}

h2 {
  color: #7a5eba;
  margin: 24px 0 12px;
}

#mainHeader {
  background-color: #61266f;
  color: white;
  padding: 24px;
}

.eventCard {
  margin: 16px;
  padding: 16px;
  border: 1px solid #b8c7d3;
}

h3,
p {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}