body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.content h1 {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
}

.description {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.7;
}